@model List<Shop.Domain.Entity.Product>


<div class="product_cards">
    @foreach (var item in Model)
    {
        <div class="product_card">
        <div class="product_cards__img">
            @if (item.Picture != null)
            {
                <img class="avatar" src="~/uploads/@item.Picture" alt="User avatar">
            }
            else
            {
                <img class="avatar" src="~/no_image.png" alt="No avatar">
            }
        </div>
        <div class="product_cards__price">
            @item.Price
        </div>
        <div class="product_cards__name">
            @item.Name
        </div>
        <div class="product_cards__author">
            @if (item.AuthorName != null) {
                @item.AuthorName
            }
        </div>
        <div class="product_cards__date">
            @item.CreateDate.ToLocalTime()
        </div>
        <a class="button" asp-action="Edit" asp-route-id="@item.Id">Add to cart</a>
        @*<form asp-controller="People" asp-action="Delete" method="post" asp-route-id="@item.Id">
            <input class="button" type="submit" value="Delete" />
        </form>*@
        </div>

    }
</div>
